body {
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 1.3em;
    background-color: rgba(204, 204, 204, 0.5);
}

.homepage {
	float:left;
	width: 50%;
}

.alert-danger {
	text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 1.3em;
    color: red;
}

.input-button {
	  background-color: #8080ff;
	  border: none;
	  color: white;
	  padding: 5px 10px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
}