<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
        <title>Login</title>
        <head th:include="head"></head>
    <body>
<form name="login" th:action="@{/login}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Please Sign In</h2>
			<div id="err" th:if="${param.error}" class="alert-danger">Wrong username and/or password</div>
			<label for="username" class="sr-only">UserName</label> 
			    <input type="text" id="username" name="username" class="form-control" placeholder="UserName" required="true" /><br> 
			<label for="password" class="sr-only">Password</label>
			    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" /><br> 
			<button class="input-button" type="submit">Sign In</button>
		</form>

    </body>
</html>